/*pimera pantalla*/

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
    background-attachment: fixed;
    font-family: 'DotGothic16', sans-serif;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/503/189/157/pokemon-video-games-pixel-art-pixels-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 1366px 660px;
    background-color: rgba(129, 194, 33, 0.664);
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 50px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #dbdbdf;
}

.fondoSubtitulo {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 22px;
    border-radius: 15px;
    border: 2px solid #dbdbdf;
}

.subtitulo {
    color: white;
    padding-inline: 100px;
    letter-spacing: 3px;
}

.targetas {
    display: flex;
    gap: 10px;
    align-items: center
}

.targeta-mokepon {
    width: 141px;
    height: 136px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(172, 11, 11);
    margin: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.targeta-mokepon img {
    width: 121px;
}

.targeta-mokepon p {
    letter-spacing: 2px;
}

#Select-mokepon {
    width: 100px;
    height: 26px;
    padding: 1px 1px;
    background: rgba(150, 10, 10, 0.7);
    color: white;
    letter-spacing: 2px;
    border: 1px solid black;
    border-radius: 6px;
    font-family: 'DotGothic16', sans-serif;
}

#Select-mokepon:active {
    background-color: rgb(39, 197, 218);
}

input {
    display: none;
}

input:checked + label{
    margin: 10px;
    background-color: rgba(45, 229, 235, 0.8)
}


/*-------------------------------o-------------------*/

/*segunda pantalla*/

#seleccion-ataque {
    flex-direction: column;
    align-items: center;
}

.contenido-ataques {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 27px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #dbdbdf;
}

.contenido-ataques h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton-fuego {
    width: 100px;
    height: 37px;
    padding: 1px 1px;
    background: rgba(233, 99, 21, 0.6);
    color: white;
    letter-spacing: 2px;
    border: 1px solid #dbdbdf;
    border-radius: 20px;
    font-family: 'DotGothic16', sans-serif;
}

#boton-fuego:active {
    background-color: rgb(39, 197, 218);
}


#boton-agua {
    width: 100px;
    height: 37px;
    padding: 1px 1px;
    background: rgba(35, 83, 241, 0.6);
    color: white;
    letter-spacing: 2px;
    border: 1px solid #dbdbdf;
    border-radius: 20px;
    font-family: 'DotGothic16', sans-serif;
}

#boton-agua:active{
    background-color: rgb(39, 197, 218);
}

#boton-tierra {
    width: 100px;
    height: 37px;
    padding: 1px 1px;
    background: rgba(150, 73, 10, 0.6);
    color: white;
    letter-spacing: 2px;
    border: 1px solid #dbdbdf;
    border-radius: 20px;
    font-family: 'DotGothic16', sans-serif;
}

#boton-tierra:active{
    background-color: rgb(39, 197, 218);
}

#mensajes {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ee2f2fa1;
    width: 275px;
    height: 95px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar {
    display: flex;
    width: 137px;
    height: 35px;
    padding: 1px 1px;
    background: rgba(150, 73, 10, 0.6);
    color: white;
    letter-spacing: 2px;
    border: 1px solid #dbdbdf;
    border-radius: 7px;
    font-family: 'DotGothic16', sans-serif;
    justify-content: center;
    align-items: center;
}

#boton-reiniciar:hover { 
    background-color: rgb(39, 197, 218);
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    background: rgba(241, 239, 237, 0.6);
    width: 200px;
    height: auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 9px;
    font-weight: bold;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: -6px;
}

#vidas-jugador {
    color:rgb(202, 48, 48)
}

#vidas-enemigo {
    color:rgb(38, 160, 78)
}

@media (max-width: 360px) {
    .targetas {
        flex-direction: column;
    }
    .fondoSubtitulo {
        width: 256px;
        height: 609px
    }
    .subtitulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 186px;
        height: 10px;
        padding: 35px;
        margin-left: 22px;
    }

    .contenido-ataques h2{
        width: 306px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
        padding: 3px;
        margin: 4px;
        font-size: larger
    }

    .boton-ataque {
        margin: 2px;
        padding: 0px;
        width: 327px;
    }
}